.error {
    color : red;
    font-size : 0.9em;
}

video {
    width: 100%;
    height: auto;
}

/* Register Form*/

#personal-details-form,
#account-details-form,
#interests-form, 
#personal-details-form *, 
#account-details-form *,
#interests-form *{
    position: relative;
    bottom:auto;
    display: flex;
    flex-direction: row;
    gap:10px;
}

legend {
    font-size: 1.2em;
    width: 100%;
}

#personal-details-form, #account-details-form, #interests-form{
    flex-direction:column;
    padding-bottom: 20px;
}

#div-label-category {
    flex-direction: column;
}

#div-label-category > *{
    gap: 0px;
    padding-bottom: 0px;
}

/* Cards */

.image-div {
    position: relative;
}

.image-div a {
    position:absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
}

img {
    size: 0;
    width: 100%;
    height:auto;
    object-fit : contain;
}

@media (min-width:500px) {
    .main-section article:nth-child(1) {
        grid-column: col-start / span 1;
    }

    .main-section article:nth-child(2) {
        grid-column: col-start 1 / span 1;
    }
}

@media (min-width:700px) {
    .main-section article:nth-child(1) {
        grid-column: col-start / span 1;
    }

    .main-section article:nth-child(2) {
        grid-column: col-start 1 / span 1;
    }

    .main-section article:nth-child(3) {
        grid-column: col-start 2 / span 1;
    }
}