.main-sidebar, .main-sidebar ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    padding-left: 0;
    width : 100%;
    margin : 0;
}

.main-sidebar > li {
    margin-top: 0;
    padding-top:0;
    top: 0;
    left:0;
    width: 100%;
    margin-left:0;
    padding-left: 0;
}

.main-sidebar li {
    position:relative;
    left:0;
    flex : 0 0 100%;
    width: 100%;
    margin-left:5;
    padding-left: 5;
    max-block-size: fit-content;
}

.main-sidebar li > * {
    position:relative;
    left:0px;
    width: 100%;
    text-align: left;
    text-wrap: wrap;
    font-size: 0.8em;
    margin-left:0;
    padding-left:0;
}

.main-sidebar li > a {
    padding-left: 5px;
}

.main-section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, [col-start] minmax(0, 1fr));
}

.main-section .main-section-title {
    grid-column: col-start / span 1;
}

.main-section article {
    position: relative;
}

.main-section article:nth-child(1) {
    grid-column: col-start / span 1;
}

.main-section article :last-child {
    position: absolute;
    bottom: 0;
}

.main-section #main-article-index {
    position: relative;
}

.image-div {
    position: relative;
}



#personal-details-form,
#account-details-form,
#interests-form, 
#personal-details-form *, 
#account-details-form *,
#interests-form *{
    position: relative;
    bottom:auto;
    display: flex;
    flex-direction: row;
    gap:10px;
}

legend {
    font-size: 1.2em;
    width: 100%;
}

#personal-details-form, #account-details-form, #interests-form{
    flex-direction:column;
    padding-bottom: 20px;
}

#div-label-category {
    flex-direction: column;
}

#div-label-category > *{
    gap: 0px;
    padding-bottom: 0px;
}

.image-div a {
    position:absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
}

img {
    size: 0;
    width: 100%;
    height:auto;
    object-fit : contain;
}

nav {
    min-width: fit-content;
    background-color: rgb(228, 23, 23);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
}

li {
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--nav-item-background);
    padding: 5px 5px;
    margin: 5px 5px;
    color: var(--text-transition-start);
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    border-radius: 5px;
}

li a:hover {
    background-color: var(--nav-item-background-hovered);
    color: var(--text-transition-finish);
    transition: background-color 400ms ease-in;
}


.page {
    max-width: 1024px;
    margin: 0 auto;
}

.page > * {
    border: 2px solid var(--page-element-border-color);
    background-color: var(--page-element-background-color);
    border-radius: 5px;
    padding: 10px;
}

.page {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(10, [col-start] 1fr);
}

video {
    width: 100%;
    height: auto;
}

/* Mobile Screen 1 column*/

.page > * {
    grid-column: col-start / span 10;
}

/* Tablet Screen 2 columns */

@media (min-width:500px) {
    .main-header {
        grid-column: col-start / span 10;
        grid-row: 1;
    }
    .main-nav {
        grid-column: col-start / span 10;
        grid-row: 2;

    }
    .main-content {
        grid-column: col-start / span 7;
        grid-row: 3;
    }
    .main-sidebar {
        grid-column: col-start 8 / span 3;
        grid-row: 3;
    }
    .main-footer {
        grid-column: col-start / span 10;
        grid-row: 4;
    }

    .main-section {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, [col-start] minmax(0, 1fr));
    }

    .main-section h4 {
        font-size:0.8em;
    }

    .main-section #main-article-index {
        grid-column: col-start / span 2;
    }

    .main-section .main-section-title {
        grid-column: col-start / span 2;
    }

    .main-section article:nth-child(1) {
        grid-column: col-start / span 1;
    }

    .main-section article:nth-child(2) {
        grid-column: col-start 1 / span 1;
    }

    .main-section #main-article-form {
        grid-column: col-start 1 / span 2;
    }

    nav ul {
        flex-flow: row wrap;
        justify-content:space-evenly;
    }
}

/* Desktop Screen 3 columns */

@media (min-width:700px) {
    .main-header {
        grid-column: col-start / span 10;
        grid-row: 1;
    }
    .main-nav {
        grid-column: col-start / span 2;
        grid-row: 2;
    }
    .main-content {
        grid-column: col-start 3 / span 6;
        grid-row: 2;
    }
    .main-sidebar {
        grid-column: col-start 9 / span 2;
        grid-row: 2;
    }
    .main-footer {
        grid-column: col-start / span 10;
        grid-row: 4;
    }

    .main-section {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, [col-start] minmax(0, 1fr));
    }

    .main-section h4 {
        font-size:0.8em;
    }

    .main-section #main-article-index {
        grid-column: col-start / span 3;
    }

    .main-section .main-section-title {
        grid-column: col-start / span 3;
    }

    .main-section article:nth-child(1) {
        grid-column: col-start / span 1;
    }

    .main-section article:nth-child(2) {
        grid-column: col-start 1 / span 1;
    }

    .main-section article:nth-child(3) {
        grid-column: col-start 2 / span 1;
    }

    .main-section #main-article-form {
        grid-column: col-start 1 / span 3;
    }

    nav ul {
        flex-flow: column nowrap;
        justify-content: start;
    }
}